.cssPagination:not(.js) .pages > .page:target ~ .page:last-child,
.cssPagination:not(.js) .pages > .page {display: none;}
.cssPagination:not(.js) .pages > :last-child,
.cssPagination:not(.js) .pages > .page:target {display: block;}
.cssPagination .prev, .next {display: none;}
.cssPagination.js .page:not(.paginationActive) {display: none;}
.cssPagination.js .page.paginationActive {display: block;}
.cssPagination.js .pageNav .pageNumber.paginationActive {font-weight: bold;}
@media screen and (max-width: 480px) {
    .cssPagination .prev, .next {display: block;width: 45%;}
    .cssPagination .prev {float: left;text-align: right;}
    .cssPagination .next {float: right;text-align: left;}
    .cssPagination:not(.js) .pageNav {display: none;}
    .cssPagination.js .pageNav .pageNumber {display: none;}
}